.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px;
}
.college-details{
    border-right: 1px solid lightgray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 20px
}
.select-item{
    background-color: #e1eedd;
    margin: 10px;
    height: 100px;
    width: 300px;
    padding: 10px
    
    
}
