.select-btn{
    background-color: #ff5200;
    border: 1px solid #ff5200;
    border-radius: 5px;
    padding: 15px;
    font-weight:bold ;
    cursor: pointer;
    color: white;
    
}
.details{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 15px;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color:  #e3ebf1;
    
}